{{define "section"}}<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{.RiverName}} · {{.SectionName}}</title>
  <link rel=stylesheet href="/s/main.css">
  <meta name=viewport content="width=device-width,initial-scale=1.0">
</head>
<body>

  <h2>{{.SectionName}}</h2>

  <h3>{{.KM}}km of grade {{.Grade.Human}} on the river {{.RiverName}}</h3>
  <p>{{.Description}}</p>

  <h3>Getting There</h3>
  <p>
    <a href="https://www.google.com/maps/search/?api=1&query={{.Putin.Lat}},{{.Putin.Lng}}">Putin</a> ·
    <a href="https://www.google.com/maps/search/?api=1&query={{.Takeout.Lat}},{{.Takeout.Lng}}">Takeout</a>
  </p>
  <p>{{.Directions}}</p>

  <h2>Install the App</h2>

  <p>Rainchasers is best experienced as an app.</p>

  {{template "badges"}}

  <hr>

  <footer>
  <ul>
    <li>Know better? Please 
        <a href=https://github.com/robtuley/rainchasers/issues/new>
            raise an 'issue' to explain</a>.</li>
    <li>Find <a href="/">other river sections</a>.</li>
  </ul>
  </footer>

</body>
</html>
{{end}}